fieldset{
    border: 1px solid black;
    width: 400px;
    float: left;
    margin-right: 20px;
}
.thead-dark{
    background-color: black;
    color : white;
}
.livrer-icon{
    background-image: url('../livrer.png')
}
input:invalid {
    border-left: 5px solid #8B0000 !important;
  }
  
input:valid {
    border-left: 5px solid green !important;
  }

  textarea:invalid {
    border-left: 5px solid #8B0000 !important;
  }
  
textarea:valid {
    border-left: 5px solid green !important;
  }